<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Translate App</title>
</head>
<body>
    <h1>🗣️TranslateTorch🔥</h1>
    <form action="/" method="post">
        <textarea name="source_text" placeholder="Enter your text here" rows="5" required></textarea><br>
        <select name="target_language">
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="ja">Japanese</option>
            <!-- Add other languages as needed -->
        </select><br>
        <input type="submit" value="Translate">
    </form>
    <hr>
    {% if translation %}
    <h2>Translation:</h2>
    <p id="translation">{{ translation }}</p>
    <audio controls id="audio">
        Your browser does not support the audio element.
    </audio>
    <button onclick="playAudio();">Play Audio</button>
    {% endif %}
    <script>
    function playAudio() {
        // Get the translated text
        let translation = document.getElementById('translation').textContent;
        
        // Create form data
        let formData = new FormData();
        formData.append('source_text', translation);
        formData.append('target_language', 'en');  // Or the actual target language
        
        // Fetch the audio
        fetch('/speech.mp3', {
            method: 'POST',
            body: formData
        })
        .then(response => response.blob())
        .then(data => {
            // Create a local URL of the audio blob and set it as the source of the audio element
            let audioUrl = URL.createObjectURL(data);
            let audioElement = document.getElementById('audio');
            audioElement.src = audioUrl;
    
            // Automatically play the audio
            audioElement.play();
        })
        .catch(error => {
            console.error('Error fetching audio:', error);
        });
    }
    </script>
</body>
</html>